*
!**/

!.gitignore
!dub.sdl
!VERSION
!LICENSE
!README.adoc
!README.md
!CHANGELOG.adoc
!AGENTS.md
!assets/
!assets/**
!source/
!source/**
!examples/
!examples/**
!changelog-details/
!changelog-details/**
!.github/
!.github/**

.dub/
dub.selections.json
*.exe
*.dll
*.lib
*.obj
*.pdb
*.exp
*.o
*.a
*.log
!/.editorconfig
!/.gitattributes
